<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../plugins/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/FontAwesome/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <div class="flex-dashboard">
        <aside>
            <div class="sidebar-title">
                <i class="fas fa-file-medical-alt fa-2x"></i>
                <h2>HospDat</h2>
            </div>

            <div class="menu">
                <ul>
                    <li>
                        <a href="">Dashboard</a>
                    </li>
                    <li>
                        <a href="">Página inicial</a>
                    </li>
                    <li>
                        <a href="">Base de dados</a>
                    </li>
                </ul>
            </div>

        </aside>
        <main>
            <header>
                <p>header</p>
                <p>logout</p>
            </header>
            <div class="main-content">
                <p>main</p>

            </div>
        </main>

    </div>



    <script src="../plugins/Bootstrap/js/bootstrap.bundle.min.js.map"></script>
    <script src="../plugins/Bootstrap/js/jquery-3.5.1.min.js"></script>
    <script src="../plugins/FontAwesome/js/fontawesome.min.js"></script>

</body>

</html>