    



   /* @media  (max-height: 2160px)  {
    #container {
        height: 2000px;
        min-width: 310px;
        max-width: 1600px;
        margin: 1.5rem auto;
        margin-bottom: 2rem;
    }
    

    #cont{
        height: 2000px;
        min-width: 310px;
        max-width: 3000px;
        margin: 1.5rem auto;
        margin-bottom: 2rem;
    }

#contPizza{
    height: 2000px;
    min-width: 310px;
    max-width:  2000px;
    margin: 1.5rem auto;
    margin-bottom: 2rem;
}
} */
 
@media   (max-height: 720) {
    #container {
        height: 930px;
        min-width: 310px;
        max-width: 800px;
        margin: 1.5rem auto;
        margin-bottom: 2rem;
    }
    

    #cont{
        height:  930px;
        min-width: 310px;
        max-width: 1500px;
        margin: 1.5rem auto;
        margin-bottom: 2rem;
    }

#contPizza{
    height: 930px;
    min-width: 310px;
    max-width:  1500px;
    margin: 1.5rem auto;
    margin-bottom: 2rem;
}

}
  
#container {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 1.5rem auto;
    margin-bottom: 2rem;
}

#cont{
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 1.5rem auto;
    margin-bottom: 2rem;
} 

#contPizza{
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 1.5rem auto;
    margin-bottom: 2rem;
}
 


    
    .carousel-indicators li{
    background-color: #15105e;
    height: 0.5rem;
    border-radius: 0.7rem;
    }

    .carousel-indicators li.active{
        background-color: #e17468
    }


    .title{
        text-align: center;
        margin-top:1rem;
    }
    
    
    .miniTitle{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }
    
    .title-itens{ 
        margin-left: 2rem;
        margin-top: 1rem;
    }
    

    .title-itens p {
        margin: 0.3rem;

    }

    

    #csvLink{
        margin-top:0.51em;
        align-items: center;
        margin-bottom:3rem;
    margin-left: 2rem;
    background-color: #EEEEEE;;
    border-radius:15px;
    height:4rem;
        width:calc(100% - 10%);

    }
    
    #csvLink p {
    margin:1rem;
    }

  

    #csvIcon{
        display: flex;
        align-items: right;
        justify-content: right;
        margin-left: 1rem;
        width: 48px;
        height: 48px;
    }
    

    #csvLink:hover{
        background-color:#c9c8c8;
    }