body{
  
    background:white;
    height: 100%;
    width: 100%;
}


#imgMoblie{
    padding-top:3rem ;
}
html,body{
    height: 100%;
    overflow: scroll;
}
.container{
    display: flex;
    align-items: center;
    justify-content:center;
}

.row{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content:center;
}