*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RobotoMono';
}

html,body{
    height: 100%;
    overflow: hidden;
}

body{
  
    background: linear-gradient(to right,var(--i-color),var(--nav-color));;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

 