*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RobotoMono';
}

html,body{
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    background: url(../imagens/bkg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}