<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">

            <div id="container"></div>
        </div>
        <div class="carousel-item">

            <figure class="highcharts-figure">
                <div id="cont"></div>

            </figure>
        </div>
     
    </div>

</div>


<script src="js/csv.js"></script>
