<div class="sobre"><h5 class="title mb-2"><strong>Quem somos</strong></h5>
 
    <div class="title-itens ">
        <p class="subtitle p-2">O HospData é um portal de transparência, um site de acesso livre, no qual o cidadão pode encontrar informações sobre base de dados da saúde de uma forma visual e de facil entedimento. </p>
        
    </div>
<h5 class="title mb-2"><strong>Importância</strong></h5>
 
<div class="title-itens ">
    <p class="subtitle p-2"> A importância da transparência do Estado na divulgação e disponibilização dos dados se dá como um dos principais pilares para uma democracia. Embora haja avanços que buscam o incentivo da prática no Brasil, os dados disponíveis carecem de uma organização padrão, acessibilidade e interatividade em portais onde os dados estão armazenados, sendo o campo da saúde um dos menos explorado.</p>
    
</div>
<h5 class="title mb-2 "><strong>Solução</strong></h5>
<div class="title-itens ">
    <p class="subtitle p-2"> Para solucionar este problema, o desenvolvimento do projeto deu-se na elaboração de um sistema que interage com datasets na área de saúde de forma que estes estejam disponibilizados aos usuários com o tratamento adequado para apresentação. A motivação para criação do portal é baseada em um estudo de caso sobre a falta de visibilidade e transparência adequada das informações no país.</p>
    
</div>
 