 
  
    <div class="content-data">

      <div class="search-box">

        <input name="consulta" id="txt_consulta" placeholder="Procurar..." type="text" class="search">
        <a class="search-btn" href="#"><i class="fas fa-search"></i></a>
      </div>

  <div class="tabela"> 
      <table id="table_id" class="display">
        <thead>
          <tr>
            <th>Column 1</th>
            <th>Column 2</th>
          </tr>
        </thead>
        <tbody>
          <a href="index.html" >
          <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
          </tr>
          </a>
          <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
          </tr>
          <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
          </tr>
          <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
          </tr>
     
        </tbody>
      </table>
    </div>
 
 