<div class="content-data">

  <div class="search-box">

    <input name="consulta" id="txt_consulta" placeholder="Procurar..." type="text" class="search">
    <!-- <a class="search-btn" href=""><i class="fas fa-search"></i></a> -->
  </div>

  <div class="pagina">
    <ul class="list">
    
    </ul>
       
    <div class="pagination">
      <div class="element firts"><i class='bx bx-first-page'></i></div>
      <div class="element prev"><i class='bx bx-skip-previous'></i></div>
      <div class="numbers">1</div>
      <div class="element next"><i class='bx bx-skip-next'></i></i></div>
      <div class="element last"><i class='bx bx-last-page'></i></div>
    </div>

  </div>

</div>



<script src="js/table.js"></script>