

      <img src="imagens/homeImage.svg" usemap="#image-map">

      <map name="image-map">
        <area target="" alt="frasco" title="frasco" href="" coords="1188,867,162" shape="circle" class="mapa">
        <area target="" alt="mais" title="mais" href="" coords="1710,589,267" shape="circle">
        <area target="" alt="dna" title="dna" href="" coords="2164,882,172" shape="circle">
        <area target="" alt="coração" title="coração" href="" coords="1704,1151,186" shape="circle">
      </map>


